{{partial "back-button"}}

<h1>{{title}}: {{items.length}} Items</h1>

<div class="form-group">
  <div class="input-group">
    {{input type="text" id="new-item" class="form-control" placeholder="New Item" value=newItem action="createNewItem"}}
    <span class="input-group-btn">
      <button type="button" class="btn btn-default" {{action "createNewItem"}}> &plus;</button>
    </span>
  </div><!-- /input-group -->
</div>

<ul class="list-group">
  {{#each items}}
    <li class="list-group-item">
      {{#if isEditing}}
        {{edit-item class="form-control" value=name focus-out="acceptEdit" insert-newline="acceptEdit"}}
      {{else}}
        <span {{action "editItem" this on="doubleClick"}}> {{name}}</span>
        {{partial "delete-button"}}
      {{/if}}
    </li>
  {{/each}}
</ul>
